*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    color: black;
}
body{
    background-color: olivedrab;
    margin: 50px 50px;
    height: 55em;

}
a, li{
    list-style-type: none;
    text-decoration: none;
}
/* header */
.MenuBtn{
    padding: 0.3%;
    border-radius: 10px;
}
.titleContainer, h1, h3{
    text-align: center;
    padding: 0.2em;
}
#profilePic{
    height: auto;
    width: 8em;
    border-radius: 100%;
    border: 4px solid silver;
}
h3{
    text-decoration: underline;
    /* background: radial-gradient(white ,black 10%, gray 15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.contactInfoLeft{
    padding-top: 20px;
}
.skillList{
    padding-top: 20px;
}
/* sections */
.infoLeft{
    border: solid silver 2px;
    border-radius: 10px;
    height: 52em; 
}
.containerContact, .aboutsec , .aboutRight{
    text-align: center;
    align-items: center;
    display: flow-root;
}
.infoLeft{
    float: left;
    width: 30%;
}
.aboutSec{
    align-items: center;
}
#meContainer{
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px silver;
    border-radius: 10px;
    padding:5px;
    margin: 0 10%;
}

/* footer */